<header>
  <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <%= link_to image_tag('logo.png'), root_path, class: :logo %>
          </h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="<%= active_class('') %>">
            <a href="/">Home</a>
          </li>
          <li class="<%= active_class('meetups') %>">
            <a href="/meetups">Meetups</a>
          </li>
          <li class="<%= active_class('members') %>">
            <a href="/members">Members</a>
          </li>
          <li class="<%= active_class('shares') %>">
            <a href="/shares">Reading</a>
          </li>
          <li class="<%= active_class('jobs') %>">
            <a href="/jobs">Jobs</a>
          </li>
        </ul>

      </section>
    </nav>
  </div>
</header>